<chart>
id=131976506935398995
symbol=GBPUSD
period=60
leftpos=2244
offline=1
digits=5
scale=16
graph=1
fore=0
grid=0
volume=0
scroll=1
shift=1
ohlc=1
one_click=0
one_click_btn=0
askline=1
days=1
descriptions=0
shift_size=20
fixed_pos=0
window_left=52
window_top=52
window_right=1405
window_bottom=475
window_type=3
background_color=0
foreground_color=16777215
barup_color=65280
bardown_color=255
bullcandle_color=65280
bearcandle_color=255
chartline_color=65280
volumes_color=3329330
grid_color=10061943
askline_color=16711680
stops_color=255

<window>
height=100
fixed_height=0
<indicator>
name=main
<object>
type=2
object_name=#172230452 144.574 -> 144.974
period_flags=0
create_time=1552316745
color=255
style=2
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1552313241
value_0=144.574000
time_1=1552319326
value_1=144.974000
ray=0
</object>
<object>
type=1
object_name=ki_rl_L_1.33000
period_flags=0
create_time=1553356286
color=5578794
style=0
weight=3
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.330000
</object>
<object>
type=21
object_name=ki_rl_T_1.33000
period_flags=0
create_time=1553356286
description=1.33000
color=16777215
font=Tahoma
fontsize=9
angle=0
anchor_pos=6
background=0
filling=0
selectable=0
hidden=1
zorder=0
time_0=1531238400
value_0=1.330000
</object>
<object>
type=1
object_name=ki_rl_L_1.33500
period_flags=0
create_time=1553356286
color=5578794
style=0
weight=3
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.335000
</object>
<object>
type=21
object_name=ki_rl_T_1.33500
period_flags=0
create_time=1553356286
description=1.33500
color=16777215
font=Tahoma
fontsize=9
angle=0
anchor_pos=6
background=0
filling=0
selectable=0
hidden=1
zorder=0
time_0=1531238400
value_0=1.335000
</object>
<object>
type=1
object_name=ki_rl_L_1.32500
period_flags=0
create_time=1553356286
color=5578794
style=0
weight=3
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.325000
</object>
<object>
type=21
object_name=ki_rl_T_1.32500
period_flags=0
create_time=1553356286
description=1.32500
color=16777215
font=Tahoma
fontsize=9
angle=0
anchor_pos=6
background=0
filling=0
selectable=0
hidden=1
zorder=0
time_0=1531238400
value_0=1.325000
</object>
<object>
type=1
object_name=ki_rl_L_1.34000
period_flags=0
create_time=1553356286
color=5578794
style=0
weight=3
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.340000
</object>
<object>
type=21
object_name=ki_rl_T_1.34000
period_flags=0
create_time=1553356286
description=1.34000
color=16777215
font=Tahoma
fontsize=9
angle=0
anchor_pos=6
background=0
filling=0
selectable=0
hidden=1
zorder=0
time_0=1531238400
value_0=1.340000
</object>
<object>
type=1
object_name=ki_rl_L_1.32000
period_flags=0
create_time=1553356286
color=5578794
style=0
weight=3
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.320000
</object>
<object>
type=21
object_name=ki_rl_T_1.32000
period_flags=0
create_time=1553356286
description=1.32000
color=16777215
font=Tahoma
fontsize=9
angle=0
anchor_pos=6
background=0
filling=0
selectable=0
hidden=1
zorder=0
time_0=1531238400
value_0=1.320000
</object>
<object>
type=1
object_name=ki_rl_L_1.34500
period_flags=0
create_time=1553356286
color=5578794
style=0
weight=3
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.345000
</object>
<object>
type=21
object_name=ki_rl_T_1.34500
period_flags=0
create_time=1553356286
description=1.34500
color=16777215
font=Tahoma
fontsize=9
angle=0
anchor_pos=6
background=0
filling=0
selectable=0
hidden=1
zorder=0
time_0=1531238400
value_0=1.345000
</object>
<object>
type=1
object_name=ki_rl_L_1.31500
period_flags=0
create_time=1553356286
color=5578794
style=0
weight=3
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.315000
</object>
<object>
type=21
object_name=ki_rl_T_1.31500
period_flags=0
create_time=1553356286
description=1.31500
color=16777215
font=Tahoma
fontsize=9
angle=0
anchor_pos=6
background=0
filling=0
selectable=0
hidden=1
zorder=0
time_0=1531238400
value_0=1.315000
</object>
<object>
type=1
object_name=ki_rl_L_1.35000
period_flags=0
create_time=1553356286
color=5578794
style=0
weight=3
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.350000
</object>
<object>
type=21
object_name=ki_rl_T_1.35000
period_flags=0
create_time=1553356286
description=1.35000
color=16777215
font=Tahoma
fontsize=9
angle=0
anchor_pos=6
background=0
filling=0
selectable=0
hidden=1
zorder=0
time_0=1531238400
value_0=1.350000
</object>
<object>
type=1
object_name=ki_rl_L_1.31000
period_flags=0
create_time=1553356286
color=5578794
style=0
weight=3
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.310000
</object>
<object>
type=21
object_name=ki_rl_T_1.31000
period_flags=0
create_time=1553356286
description=1.31000
color=16777215
font=Tahoma
fontsize=9
angle=0
anchor_pos=6
background=0
filling=0
selectable=0
hidden=1
zorder=0
time_0=1531238400
value_0=1.310000
</object>
<object>
type=1
object_name=ki_rl_L_1.35500
period_flags=0
create_time=1553356286
color=5578794
style=0
weight=3
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.355000
</object>
<object>
type=21
object_name=ki_rl_T_1.35500
period_flags=0
create_time=1553356286
description=1.35500
color=16777215
font=Tahoma
fontsize=9
angle=0
anchor_pos=6
background=0
filling=0
selectable=0
hidden=1
zorder=0
time_0=1531238400
value_0=1.355000
</object>
<object>
type=1
object_name=ki_rl_L_1.30500
period_flags=0
create_time=1553356286
color=5578794
style=0
weight=3
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.305000
</object>
<object>
type=21
object_name=ki_rl_T_1.30500
period_flags=0
create_time=1553356286
description=1.30500
color=16777215
font=Tahoma
fontsize=9
angle=0
anchor_pos=6
background=0
filling=0
selectable=0
hidden=1
zorder=0
time_0=1531238400
value_0=1.305000
</object>
<object>
type=1
object_name=ki_rl_L_1.36000
period_flags=0
create_time=1553356286
color=5578794
style=0
weight=3
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.360000
</object>
<object>
type=21
object_name=ki_rl_T_1.36000
period_flags=0
create_time=1553356286
description=1.36000
color=16777215
font=Tahoma
fontsize=9
angle=0
anchor_pos=6
background=0
filling=0
selectable=0
hidden=1
zorder=0
time_0=1531238400
value_0=1.360000
</object>
<object>
type=1
object_name=ki_rl_L_1.30000
period_flags=0
create_time=1553356286
color=5578794
style=0
weight=3
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.300000
</object>
<object>
type=21
object_name=ki_rl_T_1.30000
period_flags=0
create_time=1553356286
description=1.30000
color=16777215
font=Tahoma
fontsize=9
angle=0
anchor_pos=6
background=0
filling=0
selectable=0
hidden=1
zorder=0
time_0=1531238400
value_0=1.300000
</object>
<object>
type=1
object_name=ki_rl_L_1.36500
period_flags=0
create_time=1553356286
color=5578794
style=0
weight=3
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.365000
</object>
<object>
type=21
object_name=ki_rl_T_1.36500
period_flags=0
create_time=1553356286
description=1.36500
color=16777215
font=Tahoma
fontsize=9
angle=0
anchor_pos=6
background=0
filling=0
selectable=0
hidden=1
zorder=0
time_0=1531238400
value_0=1.365000
</object>
<object>
type=1
object_name=ki_rl_L_1.29500
period_flags=0
create_time=1553356286
color=5578794
style=0
weight=3
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.295000
</object>
<object>
type=21
object_name=ki_rl_T_1.29500
period_flags=0
create_time=1553356286
description=1.29500
color=16777215
font=Tahoma
fontsize=9
angle=0
anchor_pos=6
background=0
filling=0
selectable=0
hidden=1
zorder=0
time_0=1531238400
value_0=1.295000
</object>
<object>
type=1
object_name=ki_rl_L_1.37000
period_flags=0
create_time=1553356286
color=5578794
style=0
weight=3
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.370000
</object>
<object>
type=21
object_name=ki_rl_T_1.37000
period_flags=0
create_time=1553356286
description=1.37000
color=16777215
font=Tahoma
fontsize=9
angle=0
anchor_pos=6
background=0
filling=0
selectable=0
hidden=1
zorder=0
time_0=1531238400
value_0=1.370000
</object>
<object>
type=1
object_name=ki_rl_L_1.29000
period_flags=0
create_time=1553356286
color=5578794
style=0
weight=3
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.290000
</object>
<object>
type=21
object_name=ki_rl_T_1.29000
period_flags=0
create_time=1553356286
description=1.29000
color=16777215
font=Tahoma
fontsize=9
angle=0
anchor_pos=6
background=0
filling=0
selectable=0
hidden=1
zorder=0
time_0=1531238400
value_0=1.290000
</object>
<object>
type=1
object_name=ki_rl_L_1.37500
period_flags=0
create_time=1553356286
color=5578794
style=0
weight=3
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.375000
</object>
<object>
type=21
object_name=ki_rl_T_1.37500
period_flags=0
create_time=1553356286
description=1.37500
color=16777215
font=Tahoma
fontsize=9
angle=0
anchor_pos=6
background=0
filling=0
selectable=0
hidden=1
zorder=0
time_0=1531238400
value_0=1.375000
</object>
<object>
type=1
object_name=ki_rl_L_1.28500
period_flags=0
create_time=1553356286
color=5578794
style=0
weight=3
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.285000
</object>
<object>
type=21
object_name=ki_rl_T_1.28500
period_flags=0
create_time=1553356286
description=1.28500
color=16777215
font=Tahoma
fontsize=9
angle=0
anchor_pos=6
background=0
filling=0
selectable=0
hidden=1
zorder=0
time_0=1531238400
value_0=1.285000
</object>
<object>
type=1
object_name=ki_rl_L_1.38000
period_flags=0
create_time=1553356286
color=5578794
style=0
weight=3
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.380000
</object>
<object>
type=21
object_name=ki_rl_T_1.38000
period_flags=0
create_time=1553356286
description=1.38000
color=16777215
font=Tahoma
fontsize=9
angle=0
anchor_pos=6
background=0
filling=0
selectable=0
hidden=1
zorder=0
time_0=1531238400
value_0=1.380000
</object>
<object>
type=1
object_name=ki_rl_L_1.28000
period_flags=0
create_time=1553356286
color=5578794
style=0
weight=3
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.280000
</object>
<object>
type=21
object_name=ki_rl_T_1.28000
period_flags=0
create_time=1553356286
description=1.28000
color=16777215
font=Tahoma
fontsize=9
angle=0
anchor_pos=6
background=0
filling=0
selectable=0
hidden=1
zorder=0
time_0=1531238400
value_0=1.280000
</object>
<object>
type=1
object_name=ki_rl_L_1.38500
period_flags=0
create_time=1553356286
color=5578794
style=0
weight=3
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.385000
</object>
<object>
type=21
object_name=ki_rl_T_1.38500
period_flags=0
create_time=1553356286
description=1.38500
color=16777215
font=Tahoma
fontsize=9
angle=0
anchor_pos=6
background=0
filling=0
selectable=0
hidden=1
zorder=0
time_0=1531238400
value_0=1.385000
</object>
<object>
type=1
object_name=ki_rl_L_1.27500
period_flags=0
create_time=1553356286
color=5578794
style=0
weight=3
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.275000
</object>
<object>
type=21
object_name=ki_rl_T_1.27500
period_flags=0
create_time=1553356286
description=1.27500
color=16777215
font=Tahoma
fontsize=9
angle=0
anchor_pos=6
background=0
filling=0
selectable=0
hidden=1
zorder=0
time_0=1531238400
value_0=1.275000
</object>
<object>
type=1
object_name=ki_rl_L_1.39000
period_flags=0
create_time=1553356286
color=5578794
style=0
weight=3
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.390000
</object>
<object>
type=21
object_name=ki_rl_T_1.39000
period_flags=0
create_time=1553356286
description=1.39000
color=16777215
font=Tahoma
fontsize=9
angle=0
anchor_pos=6
background=0
filling=0
selectable=0
hidden=1
zorder=0
time_0=1531238400
value_0=1.390000
</object>
<object>
type=1
object_name=ki_rl_L_1.27000
period_flags=0
create_time=1553356286
color=5578794
style=0
weight=3
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.270000
</object>
<object>
type=21
object_name=ki_rl_T_1.27000
period_flags=0
create_time=1553356286
description=1.27000
color=16777215
font=Tahoma
fontsize=9
angle=0
anchor_pos=6
background=0
filling=0
selectable=0
hidden=1
zorder=0
time_0=1531238400
value_0=1.270000
</object>
<object>
type=1
object_name=ki_rl_L_1.39500
period_flags=0
create_time=1553356286
color=5578794
style=0
weight=3
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.395000
</object>
<object>
type=21
object_name=ki_rl_T_1.39500
period_flags=0
create_time=1553356286
description=1.39500
color=16777215
font=Tahoma
fontsize=9
angle=0
anchor_pos=6
background=0
filling=0
selectable=0
hidden=1
zorder=0
time_0=1531238400
value_0=1.395000
</object>
<object>
type=1
object_name=ki_rl_L_1.26500
period_flags=0
create_time=1553356286
color=5578794
style=0
weight=3
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.265000
</object>
<object>
type=21
object_name=ki_rl_T_1.26500
period_flags=0
create_time=1553356286
description=1.26500
color=16777215
font=Tahoma
fontsize=9
angle=0
anchor_pos=6
background=0
filling=0
selectable=0
hidden=1
zorder=0
time_0=1531238400
value_0=1.265000
</object>
<object>
type=1
object_name=ki_rl_L_1.40000
period_flags=0
create_time=1553356286
color=5578794
style=0
weight=3
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.400000
</object>
<object>
type=21
object_name=ki_rl_T_1.40000
period_flags=0
create_time=1553356286
description=1.40000
color=16777215
font=Tahoma
fontsize=9
angle=0
anchor_pos=6
background=0
filling=0
selectable=0
hidden=1
zorder=0
time_0=1531238400
value_0=1.400000
</object>
<object>
type=1
object_name=ki_rl_L_1.26000
period_flags=0
create_time=1553356286
color=5578794
style=0
weight=3
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.260000
</object>
<object>
type=21
object_name=ki_rl_T_1.26000
period_flags=0
create_time=1553356286
description=1.26000
color=16777215
font=Tahoma
fontsize=9
angle=0
anchor_pos=6
background=0
filling=0
selectable=0
hidden=1
zorder=0
time_0=1531238400
value_0=1.260000
</object>
<object>
type=1
object_name=ki_rl_L_1.40500
period_flags=0
create_time=1553356286
color=5578794
style=0
weight=3
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.405000
</object>
<object>
type=21
object_name=ki_rl_T_1.40500
period_flags=0
create_time=1553356286
description=1.40500
color=16777215
font=Tahoma
fontsize=9
angle=0
anchor_pos=6
background=0
filling=0
selectable=0
hidden=1
zorder=0
time_0=1531238400
value_0=1.405000
</object>
<object>
type=1
object_name=ki_rl_L_1.25500
period_flags=0
create_time=1553356286
color=5578794
style=0
weight=3
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.255000
</object>
<object>
type=21
object_name=ki_rl_T_1.25500
period_flags=0
create_time=1553356286
description=1.25500
color=16777215
font=Tahoma
fontsize=9
angle=0
anchor_pos=6
background=0
filling=0
selectable=0
hidden=1
zorder=0
time_0=1531238400
value_0=1.255000
</object>
<object>
type=1
object_name=ki_rl_L_1.41000
period_flags=0
create_time=1553356286
color=5578794
style=0
weight=3
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.410000
</object>
<object>
type=21
object_name=ki_rl_T_1.41000
period_flags=0
create_time=1553356286
description=1.41000
color=16777215
font=Tahoma
fontsize=9
angle=0
anchor_pos=6
background=0
filling=0
selectable=0
hidden=1
zorder=0
time_0=1531238400
value_0=1.410000
</object>
<object>
type=1
object_name=ki_rl_L_1.25000
period_flags=0
create_time=1553356286
color=5578794
style=0
weight=3
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.250000
</object>
<object>
type=21
object_name=ki_rl_T_1.25000
period_flags=0
create_time=1553356286
description=1.25000
color=16777215
font=Tahoma
fontsize=9
angle=0
anchor_pos=6
background=0
filling=0
selectable=0
hidden=1
zorder=0
time_0=1531238400
value_0=1.250000
</object>
<object>
type=1
object_name=ki_rl_L_1.41500
period_flags=0
create_time=1553356286
color=5578794
style=0
weight=3
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.415000
</object>
<object>
type=21
object_name=ki_rl_T_1.41500
period_flags=0
create_time=1553356286
description=1.41500
color=16777215
font=Tahoma
fontsize=9
angle=0
anchor_pos=6
background=0
filling=0
selectable=0
hidden=1
zorder=0
time_0=1531238400
value_0=1.415000
</object>
<object>
type=1
object_name=ki_rl_L_1.24500
period_flags=0
create_time=1553356286
color=5578794
style=0
weight=3
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.245000
</object>
<object>
type=21
object_name=ki_rl_T_1.24500
period_flags=0
create_time=1553356286
description=1.24500
color=16777215
font=Tahoma
fontsize=9
angle=0
anchor_pos=6
background=0
filling=0
selectable=0
hidden=1
zorder=0
time_0=1531238400
value_0=1.245000
</object>
<object>
type=1
object_name=ki_rl_L_1.42000
period_flags=0
create_time=1553356286
color=5578794
style=0
weight=3
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.420000
</object>
<object>
type=21
object_name=ki_rl_T_1.42000
period_flags=0
create_time=1553356286
description=1.42000
color=16777215
font=Tahoma
fontsize=9
angle=0
anchor_pos=6
background=0
filling=0
selectable=0
hidden=1
zorder=0
time_0=1531238400
value_0=1.420000
</object>
<object>
type=1
object_name=ki_rl_L_1.24000
period_flags=0
create_time=1553356286
color=5578794
style=0
weight=3
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.240000
</object>
<object>
type=21
object_name=ki_rl_T_1.24000
period_flags=0
create_time=1553356286
description=1.24000
color=16777215
font=Tahoma
fontsize=9
angle=0
anchor_pos=6
background=0
filling=0
selectable=0
hidden=1
zorder=0
time_0=1531238400
value_0=1.240000
</object>
<object>
type=1
object_name=ki_rl_L_1.42500
period_flags=0
create_time=1553356286
color=5578794
style=0
weight=3
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.425000
</object>
<object>
type=21
object_name=ki_rl_T_1.42500
period_flags=0
create_time=1553356286
description=1.42500
color=16777215
font=Tahoma
fontsize=9
angle=0
anchor_pos=6
background=0
filling=0
selectable=0
hidden=1
zorder=0
time_0=1531238400
value_0=1.425000
</object>
<object>
type=1
object_name=ki_rl_L_1.23500
period_flags=0
create_time=1553356286
color=5578794
style=0
weight=3
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.235000
</object>
<object>
type=21
object_name=ki_rl_T_1.23500
period_flags=0
create_time=1553356286
description=1.23500
color=16777215
font=Tahoma
fontsize=9
angle=0
anchor_pos=6
background=0
filling=0
selectable=0
hidden=1
zorder=0
time_0=1531238400
value_0=1.235000
</object>
<object>
type=1
object_name=ki_rl_L_1.33250
period_flags=0
create_time=1553356286
color=1910787
style=0
weight=2
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.332500
</object>
<object>
type=1
object_name=ki_rl_L_1.33750
period_flags=0
create_time=1553356286
color=1910787
style=0
weight=2
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.337500
</object>
<object>
type=1
object_name=ki_rl_L_1.32750
period_flags=0
create_time=1553356286
color=1910787
style=0
weight=2
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.327500
</object>
<object>
type=1
object_name=ki_rl_L_1.34250
period_flags=0
create_time=1553356286
color=1910787
style=0
weight=2
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.342500
</object>
<object>
type=1
object_name=ki_rl_L_1.32250
period_flags=0
create_time=1553356286
color=1910787
style=0
weight=2
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.322500
</object>
<object>
type=1
object_name=ki_rl_L_1.34750
period_flags=0
create_time=1553356286
color=1910787
style=0
weight=2
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.347500
</object>
<object>
type=1
object_name=ki_rl_L_1.31750
period_flags=0
create_time=1553356286
color=1910787
style=0
weight=2
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.317500
</object>
<object>
type=1
object_name=ki_rl_L_1.35250
period_flags=0
create_time=1553356286
color=1910787
style=0
weight=2
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.352500
</object>
<object>
type=1
object_name=ki_rl_L_1.31250
period_flags=0
create_time=1553356286
color=1910787
style=0
weight=2
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.312500
</object>
<object>
type=1
object_name=ki_rl_L_1.35750
period_flags=0
create_time=1553356286
color=1910787
style=0
weight=2
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.357500
</object>
<object>
type=1
object_name=ki_rl_L_1.30750
period_flags=0
create_time=1553356286
color=1910787
style=0
weight=2
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.307500
</object>
<object>
type=1
object_name=ki_rl_L_1.36250
period_flags=0
create_time=1553356286
color=1910787
style=0
weight=2
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.362500
</object>
<object>
type=1
object_name=ki_rl_L_1.30250
period_flags=0
create_time=1553356286
color=1910787
style=0
weight=2
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.302500
</object>
<object>
type=1
object_name=ki_rl_L_1.36750
period_flags=0
create_time=1553356286
color=1910787
style=0
weight=2
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.367500
</object>
<object>
type=1
object_name=ki_rl_L_1.29750
period_flags=0
create_time=1553356286
color=1910787
style=0
weight=2
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.297500
</object>
<object>
type=1
object_name=ki_rl_L_1.37250
period_flags=0
create_time=1553356286
color=1910787
style=0
weight=2
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.372500
</object>
<object>
type=1
object_name=ki_rl_L_1.29250
period_flags=0
create_time=1553356286
color=1910787
style=0
weight=2
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.292500
</object>
<object>
type=1
object_name=ki_rl_L_1.37750
period_flags=0
create_time=1553356286
color=1910787
style=0
weight=2
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.377500
</object>
<object>
type=1
object_name=ki_rl_L_1.28750
period_flags=0
create_time=1553356286
color=1910787
style=0
weight=2
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.287500
</object>
<object>
type=1
object_name=ki_rl_L_1.38250
period_flags=0
create_time=1553356286
color=1910787
style=0
weight=2
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.382500
</object>
<object>
type=1
object_name=ki_rl_L_1.28250
period_flags=0
create_time=1553356286
color=1910787
style=0
weight=2
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.282500
</object>
<object>
type=1
object_name=ki_rl_L_1.38750
period_flags=0
create_time=1553356286
color=1910787
style=0
weight=2
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.387500
</object>
<object>
type=1
object_name=ki_rl_L_1.27750
period_flags=0
create_time=1553356286
color=1910787
style=0
weight=2
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.277500
</object>
<object>
type=1
object_name=ki_rl_L_1.39250
period_flags=0
create_time=1553356286
color=1910787
style=0
weight=2
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.392500
</object>
<object>
type=1
object_name=ki_rl_L_1.27250
period_flags=0
create_time=1553356286
color=1910787
style=0
weight=2
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.272500
</object>
<object>
type=1
object_name=ki_rl_L_1.39750
period_flags=0
create_time=1553356286
color=1910787
style=0
weight=2
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.397500
</object>
<object>
type=1
object_name=ki_rl_L_1.26750
period_flags=0
create_time=1553356286
color=1910787
style=0
weight=2
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.267500
</object>
<object>
type=1
object_name=ki_rl_L_1.40250
period_flags=0
create_time=1553356286
color=1910787
style=0
weight=2
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.402500
</object>
<object>
type=1
object_name=ki_rl_L_1.26250
period_flags=0
create_time=1553356286
color=1910787
style=0
weight=2
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.262500
</object>
<object>
type=1
object_name=ki_rl_L_1.40750
period_flags=0
create_time=1553356286
color=1910787
style=0
weight=2
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.407500
</object>
<object>
type=1
object_name=ki_rl_L_1.25750
period_flags=0
create_time=1553356286
color=1910787
style=0
weight=2
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.257500
</object>
<object>
type=1
object_name=ki_rl_L_1.41250
period_flags=0
create_time=1553356286
color=1910787
style=0
weight=2
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.412500
</object>
<object>
type=1
object_name=ki_rl_L_1.25250
period_flags=0
create_time=1553356286
color=1910787
style=0
weight=2
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.252500
</object>
<object>
type=1
object_name=ki_rl_L_1.41750
period_flags=0
create_time=1553356286
color=1910787
style=0
weight=2
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.417500
</object>
<object>
type=1
object_name=ki_rl_L_1.24750
period_flags=0
create_time=1553356286
color=1910787
style=0
weight=2
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.247500
</object>
<object>
type=1
object_name=ki_rl_L_1.42250
period_flags=0
create_time=1553356286
color=1910787
style=0
weight=2
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.422500
</object>
<object>
type=1
object_name=ki_rl_L_1.24250
period_flags=0
create_time=1553356286
color=1910787
style=0
weight=2
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.242500
</object>
<object>
type=1
object_name=ki_rl_L_1.42750
period_flags=0
create_time=1553356286
color=1910787
style=0
weight=2
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.427500
</object>
<object>
type=1
object_name=ki_rl_L_1.23750
period_flags=0
create_time=1553356286
color=1910787
style=0
weight=2
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.237500
</object>
<object>
type=1
object_name=ki_rl_L_-0.00250
period_flags=0
create_time=1553356286
color=1910787
style=0
weight=2
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=-0.002500
</object>
<object>
type=1
object_name=ki_rl_L_1.33125
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.331250
</object>
<object>
type=1
object_name=ki_rl_L_1.32875
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.328750
</object>
<object>
type=1
object_name=ki_rl_L_1.33625
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.336250
</object>
<object>
type=1
object_name=ki_rl_L_1.33375
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.333750
</object>
<object>
type=1
object_name=ki_rl_L_1.32625
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.326250
</object>
<object>
type=1
object_name=ki_rl_L_1.32375
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.323750
</object>
<object>
type=1
object_name=ki_rl_L_1.34125
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.341250
</object>
<object>
type=1
object_name=ki_rl_L_1.33875
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.338750
</object>
<object>
type=1
object_name=ki_rl_L_1.32125
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.321250
</object>
<object>
type=1
object_name=ki_rl_L_1.31875
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.318750
</object>
<object>
type=1
object_name=ki_rl_L_1.34625
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.346250
</object>
<object>
type=1
object_name=ki_rl_L_1.34375
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.343750
</object>
<object>
type=1
object_name=ki_rl_L_1.31625
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.316250
</object>
<object>
type=1
object_name=ki_rl_L_1.31375
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.313750
</object>
<object>
type=1
object_name=ki_rl_L_1.35125
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.351250
</object>
<object>
type=1
object_name=ki_rl_L_1.34875
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.348750
</object>
<object>
type=1
object_name=ki_rl_L_1.31125
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.311250
</object>
<object>
type=1
object_name=ki_rl_L_1.30875
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.308750
</object>
<object>
type=1
object_name=ki_rl_L_1.35625
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.356250
</object>
<object>
type=1
object_name=ki_rl_L_1.35375
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.353750
</object>
<object>
type=1
object_name=ki_rl_L_1.30625
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.306250
</object>
<object>
type=1
object_name=ki_rl_L_1.30375
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.303750
</object>
<object>
type=1
object_name=ki_rl_L_1.36125
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.361250
</object>
<object>
type=1
object_name=ki_rl_L_1.35875
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.358750
</object>
<object>
type=1
object_name=ki_rl_L_1.30125
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.301250
</object>
<object>
type=1
object_name=ki_rl_L_1.29875
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.298750
</object>
<object>
type=1
object_name=ki_rl_L_1.36625
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.366250
</object>
<object>
type=1
object_name=ki_rl_L_1.36375
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.363750
</object>
<object>
type=1
object_name=ki_rl_L_1.29625
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.296250
</object>
<object>
type=1
object_name=ki_rl_L_1.29375
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.293750
</object>
<object>
type=1
object_name=ki_rl_L_1.37125
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.371250
</object>
<object>
type=1
object_name=ki_rl_L_1.36875
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.368750
</object>
<object>
type=1
object_name=ki_rl_L_1.29125
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.291250
</object>
<object>
type=1
object_name=ki_rl_L_1.28875
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.288750
</object>
<object>
type=1
object_name=ki_rl_L_1.37625
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.376250
</object>
<object>
type=1
object_name=ki_rl_L_1.37375
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.373750
</object>
<object>
type=1
object_name=ki_rl_L_1.28625
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.286250
</object>
<object>
type=1
object_name=ki_rl_L_1.28375
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.283750
</object>
<object>
type=1
object_name=ki_rl_L_1.38125
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.381250
</object>
<object>
type=1
object_name=ki_rl_L_1.37875
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.378750
</object>
<object>
type=1
object_name=ki_rl_L_1.28125
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.281250
</object>
<object>
type=1
object_name=ki_rl_L_1.27875
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.278750
</object>
<object>
type=1
object_name=ki_rl_L_1.38625
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.386250
</object>
<object>
type=1
object_name=ki_rl_L_1.38375
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.383750
</object>
<object>
type=1
object_name=ki_rl_L_1.27625
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.276250
</object>
<object>
type=1
object_name=ki_rl_L_1.27375
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.273750
</object>
<object>
type=1
object_name=ki_rl_L_1.39125
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.391250
</object>
<object>
type=1
object_name=ki_rl_L_1.38875
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.388750
</object>
<object>
type=1
object_name=ki_rl_L_1.27125
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.271250
</object>
<object>
type=1
object_name=ki_rl_L_1.26875
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.268750
</object>
<object>
type=1
object_name=ki_rl_L_1.39625
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.396250
</object>
<object>
type=1
object_name=ki_rl_L_1.39375
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.393750
</object>
<object>
type=1
object_name=ki_rl_L_1.26625
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.266250
</object>
<object>
type=1
object_name=ki_rl_L_1.26375
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.263750
</object>
<object>
type=1
object_name=ki_rl_L_1.40125
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.401250
</object>
<object>
type=1
object_name=ki_rl_L_1.39875
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.398750
</object>
<object>
type=1
object_name=ki_rl_L_1.26125
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.261250
</object>
<object>
type=1
object_name=ki_rl_L_1.25875
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.258750
</object>
<object>
type=1
object_name=ki_rl_L_1.40625
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.406250
</object>
<object>
type=1
object_name=ki_rl_L_1.40375
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.403750
</object>
<object>
type=1
object_name=ki_rl_L_1.25625
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.256250
</object>
<object>
type=1
object_name=ki_rl_L_1.25375
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.253750
</object>
<object>
type=1
object_name=ki_rl_L_1.41125
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.411250
</object>
<object>
type=1
object_name=ki_rl_L_1.40875
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.408750
</object>
<object>
type=1
object_name=ki_rl_L_1.25125
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.251250
</object>
<object>
type=1
object_name=ki_rl_L_1.24875
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.248750
</object>
<object>
type=1
object_name=ki_rl_L_1.41625
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.416250
</object>
<object>
type=1
object_name=ki_rl_L_1.41375
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.413750
</object>
<object>
type=1
object_name=ki_rl_L_1.24625
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.246250
</object>
<object>
type=1
object_name=ki_rl_L_1.24375
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.243750
</object>
<object>
type=1
object_name=ki_rl_L_1.42125
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.421250
</object>
<object>
type=1
object_name=ki_rl_L_1.41875
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.418750
</object>
<object>
type=1
object_name=ki_rl_L_1.24125
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.241250
</object>
<object>
type=1
object_name=ki_rl_L_1.23875
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.238750
</object>
<object>
type=1
object_name=ki_rl_L_1.42625
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.426250
</object>
<object>
type=1
object_name=ki_rl_L_1.42375
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.423750
</object>
<object>
type=1
object_name=ki_rl_L_1.23625
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.236250
</object>
<object>
type=1
object_name=ki_rl_L_1.23375
period_flags=0
create_time=1553356286
color=1321005
style=2
weight=1
background=1
filling=0
selectable=0
hidden=0
zorder=0
value_0=1.233750
</object>
</indicator>
<indicator>
name=Moving Average
period=9
shift=0
method=3
apply=1
color=42495
style=2
weight=1
period_flags=0
show_data=1
</indicator>
<indicator>
name=Moving Average
period=9
shift=0
method=3
apply=0
color=65280
style=2
weight=1
period_flags=0
show_data=1
</indicator>
<indicator>
name=Moving Average
period=50
shift=0
method=0
apply=0
color=16711680
style=0
weight=2
period_flags=0
show_data=1
</indicator>
<indicator>
name=Moving Average
period=1
shift=0
method=0
apply=0
color=65535
style=0
weight=2
period_flags=0
show_data=1
</indicator>
<indicator>
name=Custom Indicator
<expert>
name=FXSSI.RoundLevels
flags=339
window_num=0
<inputs>
a01=https://fxssi.com/roundlevels-mt4-indicator
a02=
a03= === Settings ==============================
mm_Variant=2
Ris_Variant=0
a04=
a05==== Display Options ===========
TruPodpisLevel=0
TypeText=0
FontSize=2
a06=
WidthL_=2
WidthLP_=1
WidthLCh_=0
a07=
StyleL=0
StyleLP=0
StyleLCh=2
a08=
Color=5578794
ColorLP=1910787
ColorLCh=1321005
colorText=16777215
a09=
a10==== Alerts Options ======================
VariantAlert=2
InfoAlert=2
s_sound=alert.wav
</inputs>
</expert>
shift_0=0
draw_0=0
color_0=0
style_0=0
weight_0=0
period_flags=0
show_data=1
</indicator>
</window>
</chart>

